.thx-window {
  background-color: #222;
  padding: 20px 80px;
  min-height: 640px;
  min-width: 760px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1 1 auto;
}

.thx-window > h1 {
  text-align: center;
  color: #ccc;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 20px;
  text-transform: capitalize;
}
